#testDiv1 {
  width: 35%;
  padding: 15px;
  margin: 10px;
  box-sizing: border-box;
  float: right;
}
#testDiv2 {
  width: 35%;
  padding: 15px;
  margin: 10px;
  box-sizing: border-box;
  float: right;
}
#container {
  width: 100%;
}
